@import "variables";
@import '../../bower_components/ionic/scss/ionic.scss'; 

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/fonts/glyphicons-halflings-regular.eot');
  src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@import "base.scss";
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
