<div class="left-column">
  <p>
    <strong>This is  the left column</strong>
  </p>
  <p>
    <small>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt vitae erat eget dignissim. Quisque tincidunt, purus in rutrum aliquet, sapien arcu aliquet mi, et iaculis neque arcu eu erat. Pellentesque tincidunt purus tellus, a porta diam tempor a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut sed quam ac odio vestibulum porta ornare non odio. Nam leo tellus, posuere non molestie vitae, tempus a quam. Sed ut consequat orci.
    </small>
  </p>
</div>
